[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/jiska/symfony1.git
[submodule "web/css/bootstrap"]
	path = web/css/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "plugins/jpFormExtraPlugin"]
	path = plugins/jpFormExtraPlugin
	url = git://github.com/brtriver/jpFormExtraPlugin.git
